asgiref==3.8.1
Django==5.0.6
djangorestframework==3.15.1
Flask==3.1.0
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-generativeai==0.8.4
grpcio==1.70.0
numpy==2.2.3
opencv-python==4.11.0.86
phonenumbers==8.13.38
pillow==11.1.0
pydantic==2.10.6
requests==2.32.3
textblob==0.19.0
tqdm==4.67.1
